absl-py==2.3.1
astunparse==1.6.3
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==B.4.3
flatbuffers==25.2.10
gast==0.4.0
google-auth==2.40.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
idna==3.10
jax==0.4.30
jaxlib==0.4.30
keras==2.12.0
libclang==18.1.1
Markdown==3.9
MarkupSafe==3.0.2
ml_dtypes==0.5.3
numpy==1.23.5
oauthlib==3.3.1
opencv-python==4.9.0.80
opt_einsum==3.4.0
packaging==25.0
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyvirtualcam==0.14.0
qi==3.1.5
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.15.3
six==1.17.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
typingextensions==4.5.0
urllib3==2.5.0
Werkzeug==3.1.3
wrapt==1.14.2